<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lala.mapper.HouseTagMapper">

    <insert id="save" parameterType="java.util.List">
        INSERT INTO house_tag
        (
            house_id,
            name
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.houseId},
            #{item.name}
            )
        </foreach>
    </insert>
    <select id="findAllByIdList" resultType="com.lala.entity.HouseTag" parameterType="java.util.List">
        SELECT * FROM house_tag
        WHERE house_id in
        <foreach collection="houseIdList" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
    <insert id="saveOne">
        INSERT INTO house_tag (house_id, name)
        VALUES (#{houseId}, #{name})
    </insert>
    <delete id="deleteById">
        DELETE FROM house_tag
        WHERE id = #{id}
    </delete>
    <select id="findAllById" resultType="com.lala.entity.HouseTag">
        SELECT * FROM house_tag
        WHERE house_id = #{id}
    </select>
    <select id="findByHouseIdAndName" resultType="com.lala.entity.HouseTag">
        SELECT * FROM house_tag
        WHERE house_id = #{house_id} AND name = #{name}
    </select>
    <select id="findAllByIdList" resultType="com.lala.entity.HouseTag" parameterType="java.util.List">
        SELECT * FROM house_tag
        WHERE house_id in
        <foreach collection="houseIdList" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>