<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lala.mapper.HouseDetailMapper">

    <insert id="save" parameterType="com.lala.entity.HouseDetail">
        INSERT INTO house_detail (description,layout_desc,traffic,round_service,rent_way,address,subway_line_id,subway_line_name,subway_station_id,subway_station_name,house_id)
        VALUES (#{description},
                #{layoutDesc},
                #{traffic},
                #{roundService},
                #{rentWay},
                #{address},
                #{subwayLineId},
                #{subwayLineName},
                #{subwayStationId},
                #{subwayStationName},
                #{houseId})
    </insert>
    <select id="findOneById" resultType="com.lala.entity.HouseDetail">
        SELECT * FROM house_detail
        WHERE house_id = #{id}
    </select>
</mapper>