<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lala.mapper.HouseMapper">

    <insert id="save" parameterType="com.lala.entity.House" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO house (title, price, area, room, floor, total_floor, watch_times, build_year, status, create_time, last_update_time, city_en_name, region_en_name, cover, direction, distance_to_subway, parlour, district, admin_id, bathroom, street)
        VALUES (#{title},
                #{price},
                #{area},
                #{room},
                #{floor},
                #{totalFloor},
                #{watchTimes},
                #{buildYear},
                #{status},
                #{createTime},
                #{lastUpdateTime},
                #{cityEnName},
                #{regionEnName},
                #{cover},
                #{direction},
                #{distanceToSubway},
                #{parlour},
                #{district},
                #{adminId},
                #{bathroom},
                #{street})
    </insert>
    <update id="update">
        UPDATE
            house
        SET id                 = #{id},
            title              = #{title},
            price              = #{price},
            area               = #{area},
            room               = #{room},
            floor              = #{floor},
            total_floor        = #{totalFloor},
            watch_times        = #{watchTimes},
            build_year         = #{buildYear},
            status             = #{status},
            create_time        = #{createTime},
            last_update_time   = #{lastUpdateTime},
            city_en_name       = #{cityEnName},
            region_en_name     = #{regionEnName},
            cover              = #{cover},
            direction          = #{direction},
            distance_to_subway = #{distanceToSubway},
            parlour            = #{parlour},
            district           = #{district},
            admin_id           = #{adminId},
            bathroom           = #{bathroom},
            street             = #{street}
        WHERE id = #{id};
    </update>
    <update id="updateStatus">
        update house
        set status = #{status}
        where id = #{id}
    </update>
    <select id="finAll" resultType="com.lala.entity.House">
        SELECT * FROM house
        <where>
            1=1
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="city != null and city != ''">
                and city_en_name =#{city}
            </if>
            <if test="title != null and title != ''">
                and title =#{title}
            </if>
            <if test="createTimeMin != null ">
                and create_time <![CDATA[ >= ]]> #{createTimeMin}
            </if>
            <if test="createTimeMax != null ">
                and create_time <![CDATA[ < ]]> #{createTimeMax}
            </if>
        </where>
        <choose>
            <when test="orderBy != null and orderBy !=''">
                <choose>
                    <when test="direction != null and direction !=''">
                        order by ${orderBy} ${direction}
                    </when>
                    <otherwise>
                        order by ${orderBy} desc
                    </otherwise>
                </choose>
            </when>
        </choose>
    </select>
    <select id="countAll" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM house
    </select>
    <select id="findOneById" resultType="com.lala.entity.House">
        SELECT * FROM house
        WHERE id = #{id}
    </select>

    <select id="userFindAllHousesBySearch" resultType="com.lala.entity.House">
        SELECT id,
        title,
        price,
        area,
        room,
        floor,
        total_floor,
        watch_times,
        build_year,
        status,
        create_time,
        last_update_time,
        city_en_name,
        region_en_name,
        cover,
        direction,
        distance_to_subway,
        parlour,
        district,
        admin_id,
        bathroom,
        street
        FROM house
        <where>
            status != 3
            <if test="cityEnName != null and cityEnName != '' ">
                and city_en_name =#{cityEnName}
            </if>
            <if test="regionEnName != null and regionEnName != '' ">
                and region_en_name =#{regionEnName}
            </if>
            <if test="room != null and room !='' ">
                and room =#{room}
            </if>
            <if test="direction != null and direction!='' ">
                and direction =#{direction}
            </if>
            <if test="areaBlock != null and areaBlock!='' ">
                <choose>
                    <when test="areaKey==1">
                        and area between 0 and 30
                    </when>
                    <when test="areaKey==2">
                        and area between 30 and 50
                    </when>
                    <when test="areaKey==3">
                        and area &gt; 50
                    </when>
                </choose>
            </if>
            <if test="priceBlock != null and priceBlock!='' ">
                <choose>
                    <when test="priceKey==1">
                        and price between 0 and 1000
                    </when>
                    <when test="priceKey==2">
                        and price between 1000 and 3000
                    </when>
                    <when test="priceKey==3">
                        and price &gt; 3000
                    </when>
                </choose>
            </if>
        </where>
        <choose>
            <when test="orderBy != null and orderBy !=''">
                <choose>
                    <when test="direction != null and direction !=''">
                        order by ${orderBy} ${direction}
                    </when>
                    <otherwise>
                        order by ${orderBy} desc
                    </otherwise>
                </choose>
            </when>
        </choose>

    </select>
    <select id="findAllByIdList" resultType="com.lala.entity.House">
        SELECT * FROM house
        WHERE id in
        <foreach collection="houseIds" index="index" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>
</mapper>