<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lala.mapper.HousePictureMapper">

    <insert id="save" parameterType="java.util.List">
        INSERT INTO house_picture
        (
            house_id,
            cdn_prefix,
            width,
            height,
            location,
            path
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.houseId},
            #{item.cdnPrefix},
            #{item.width},
            #{item.height},
            #{item.location},
            #{item.path}
            )
        </foreach>
    </insert>
    <select id="findAllById" resultType="com.lala.entity.HousePicture">
        SELECT * FROM house_picture
        WHERE house_id = #{id}
    </select>
</mapper>