<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lala.mapper.HouseDetailMapper">

    <insert id="save" parameterType="com.lala.entity.HouseDetail">
        INSERT INTO house_detail (description,layout_desc,traffic,round_service,rent_way,address,subway_line_id,subway_line_name,subway_station_id,subway_station_name,house_id)
        VALUES (#{description},
                #{layoutDesc},
                #{traffic},
                #{roundService},
                #{rentWay},
                #{address},
                #{subwayLineId},
                #{subwayLineName},
                #{subwayStationId},
                #{subwayStationName},
                #{houseId})
    </insert>
    <update id="update">
        update house_detail
        <set>
            <if test="description !=null and description !=''">
                description= #{description},
            </if>
            <if test="layoutDesc !=null and layoutDesc !=''">
                layout_desc= #{layoutDesc},
            </if>
            <if test="traffic !=null and traffic !=''">
                traffic= #{traffic},
            </if>
            <if test="roundService !=null and roundService !=''">
                round_service= #{roundService},
            </if>
            <if test="rentWay !=null and rentWay !=''">
                rent_way= #{rentWay},
            </if>
            <if test="address !=null and address !=''">
                address= #{address},
            </if>
            <if test="subwayLineId !=null and subwayLineId !=''">
                subway_line_id= #{subwayLineId},
            </if>
            <if test="subwayLineName !=null and subwayLineName !=''">
                subway_line_name= #{subwayLineName},
            </if>
            <if test="subwayStationId !=null and subwayStationId !=''">
                subway_station_id= #{subwayStationId},
            </if>
            <if test="subwayStationName !=null and subwayStationName !=''">
                subway_station_name= #{subwayStationName},
            </if>
            <if test="houseId !=null and houseId !=''">
                house_id= #{houseId}
            </if>
        </set>
        where id=#{id}
    </update>
    <select id="findOneById" resultType="com.lala.entity.HouseDetail">
        SELECT * FROM house_detail
        WHERE house_id = #{id}
    </select>

    <select id="findAllById" resultType="com.lala.entity.HouseDetail" parameterType="java.util.List">
        SELECT * FROM house_detail
        WHERE house_id in
        <foreach collection="houseIdList" separator="," open="(" close=")" item="item" index="index">
            #{item}
        </foreach>
    </select>
</mapper>